{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "JSHR App API",
    "description": "작심하루 API 목록",
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    }
  },
  "host": "jaksimharu.shop:8800",
  "basePath": "/api",
  "tags": [
    {
      "name": "Auth API",
      "description": "유저 인증 관련 API"
    },
    {
      "name": "User API",
      "description": "User 정보 관련 API"
    }
  ],
  "schemes": ["http", "https"],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "securityDefinitions": {
    "ApiKeyAuth": {
      "type": "apiKey",
      "in": "headers",
      "name": "authorization"
    }
  },
  "paths": {
    "/auth/signup": {
      "post": {
        "summary": "회원가입",
        "tags": ["Auth API"],
        "description": "회원가입 성공시 success: true 반환",
        "parameters": [
          {
            "name": "Post data",
            "in": "body",
            "description": "Signup user",
            "schema": {
              "type": "object",
              "properties": {
                "email": {
                  "type": "string"
                },
                "password": {
                  "type": "string"
                },
                "password1": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "Login Success",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean"
                }
              }
            }
          },
          "400": {
            "description": "비밀번호가 일치하지 않거나 이미 존재하는 이메일"
          }
        }
      }
    },
    "/auth/signin": {
      "post": {
        "summary": "자체 로그인",
        "tags": ["Auth API"],
        "description": "로그인 성공시 AccessToken, RefreshToken, 유저정보 반환",
        "parameters": [
          {
            "name": "Post data",
            "in": "body",
            "description": "Signin user",
            "schema": {
              "type": "object",
              "properties": {
                "email": {
                  "type": "string"
                },
                "password": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "Login Success",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean"
                },
                "refreshToken": {
                  "type": "string"
                },
                "accessToken": {
                  "type": "string"
                },
                "_id": {
                  "type": "string"
                },
                "email": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "toDo": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/TodoObject"
                  }
                },
                "isAdmin": {
                  "type": "boolean",
                  "default": false
                }
              }
            }
          },
          "400": {
            "description": "비밀번호가 일치하지 않음"
          },
          "404": {
            "description": "존재하지 않는 아이디"
          }
        }
      }
    },
    "/auth/kakao/login": {
      "post": {
        "summary": "카카오 로그인",
        "tags": ["Auth API"],
        "description": "로그인 성공시 AccessToken, RefreshToken, 유저정보 반환",
        "parameters": [
          {
            "name": "Post data",
            "in": "body",
            "description": "Signin user",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "Login Success",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean"
                },
                "refreshToken": {
                  "type": "string"
                },
                "accessToken": {
                  "type": "string"
                },
                "_id": {
                  "type": "string"
                },
                "email": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "toDo": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/TodoObject"
                  }
                },
                "isAdmin": {
                  "type": "boolean",
                  "default": false
                },
                "img": {
                  "type": "string"
                },
                "fromKakao": {
                  "type": "boolean"
                }
              }
            }
          },
          "404": {
            "description": "로그인 실패"
          }
        }
      }
    },
    "/auth/naver/login": {
      "post": {
        "summary": "네이버 로그인",
        "tags": ["Auth API"],
        "description": "로그인 성공시 AccessToken, RefreshToken, 유저정보 반환",
        "parameters": [
          {
            "name": "Post data",
            "in": "body",
            "description": "Signin user",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "Login Success",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean"
                },
                "refreshToken": {
                  "type": "string"
                },
                "accessToken": {
                  "type": "string"
                },
                "_id": {
                  "type": "string"
                },
                "email": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "toDo": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/TodoObject"
                  }
                },
                "isAdmin": {
                  "type": "boolean",
                  "default": false
                },
                "img": {
                  "type": "string"
                },
                "fromNaver": {
                  "type": "boolean"
                }
              }
            }
          },
          "404": {
            "description": "로그인 실패"
          }
        }
      }
    },
    "/auth/refresh": {
      "get": {
        "summary": "AccessToken 재발급",
        "tags": ["Auth API"],
        "description": "AccessToken 재발급 RefreshToken 도 만료시 같이 재발급",
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "재발급 성공",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean"
                },
                "accessToken": {
                  "type": "string"
                },
                "refreshToken": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "다시 로그인 필요"
          }
        }
      }
    },
    "/auth/users/todo": {
      "get": {
        "summary": "AccessToken에 담긴 유저정보로 Todo 조회",
        "tags": ["User API"],
        "description": "유저 Todo 목록 반환",
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "Login Success",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean"
                },
                "toDo": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/TodoObject"
                  }
                }
              }
            }
          },
          "401": {
            "description": "다시 로그인 필요"
          }
        }
      },
      "post": {
        "summary": "AccessToken에 담긴 유저정보로 Todo 한개 저장",
        "tags": ["User API"],
        "description": "유저 Todo 목록 반환",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "Post data",
            "in": "body",
            "description": "Todo 한개 저장",
            "schema": {
              "type": "object",
              "properties": {
                "date": {
                  "type": "string"
                },
                "content": {
                  "type": "string"
                },
                "isChecked": {
                  "type": "boolean"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Todo 저장 성공",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean"
                },
                "toDo": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/TodoObject"
                  }
                }
              }
            }
          },
          "401": {
            "description": "다시 로그인 필요"
          }
        }
      },
      "delete": {
        "summary": "AccessToken에 담긴 유저정보로 Todo 조회",
        "tags": ["User API"],
        "description": "유저 Todo 목록 반환",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "Delete data",
            "in": "body",
            "description": "AccessToken을 가진 유저의 Todo ObjectId로 한개 삭제",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Todo 한개 삭제",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean"
                },
                "toDo": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/TodoObject"
                  }
                }
              }
            }
          },
          "401": {
            "description": "다시 로그인 필요"
          }
        }
      }
    },
    "/users/edit-profile": {
      "post": {
        "summary": "회원가입",
        "tags": ["User API"],
        "description": "유저 프로필 사진 변경",
        "parameters": [
          {
            "name": "Post Image",
            "in": "formData",
            "description": "form-data로 이미지 Post ",
            "schema": {
              "type": "string"
            }
          }
        ],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "Edit-Profile Success",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean"
                },
                "updatedImg": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "파일을 찾을 수 없습니다."
          }
        }
      }
    }
  },

  "definitions": {
    "User": {
      "properties": {
        "email": {
          "type": "string"
        },
        "img": {
          "type": "string"
        },
        "fromKakao": {
          "type": "boolean"
        },
        "fromNaver": {
          "type": "boolean"
        },
        "name": {
          "type": "string"
        },
        "isAdmin": {
          "type": "boolean"
        },
        "password": {
          "type": "string"
        },
        "toDo": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TodoObject"
          }
        }
      }
    },
    "Token": {
      "properties": {
        "userId": {
          "type": "string"
        },
        "refreshToken": {
          "type": "string"
        }
      }
    },
    "TodoObject": {
      "properties": {
        "date": {
          "type": "string"
        },
        "content": {
          "type": "string"
        },
        "isChecked": {
          "type": "boolean"
        },
        "_id": {
          "type": "string"
        }
      }
    }
  }
}
